---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url card" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    {% if post.image %}
                        <img class="thumb" alt="" src="{{ site.url }}{{ post.image }}" loading="lazy"/>
                    {% endif %}
                    <div class="text">
                        <h3 class="title">{{ post.title }}</h3>
                        <p class="summary">{{ post.date | date: "%Y" }} · {{ post.description }}</p>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
