{% capture avatar_src %}{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}{% endcapture %}

{% if page.url == "/" %}
    <header class="header-home{% if site.animation %} animated{% endif %}">
        <a class="link" href="{{ site.url }}/about">
            <img class="selfie" alt="{{ site.name }}" src="{{ avatar_src }}" />
        </a>

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>

    {% include nav.html %}
{% else %}
    <header class="topbar">
        <a class="brand" href="{{ site.url }}/">
            <img class="avatar" alt="" src="{{ avatar_src }}" />
            <span class="name">{{ site.name }}</span>
        </a>
        {% include nav.html %}
    </header>

    {% if page.layout == "page" and page.title != "About" %}
        <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}
{% endif %}
