.page-title
    margin: 50px 0 30px
    font-size: 3.6rem

.research-figure
    margin: 40px auto
    text-align: center

    > img
        display: block
        max-width: 50%
        margin: 0 auto

        @media #{$below}
            max-width: 90%

    > figcaption
        font-size: 1.4rem
        line-height: 1.6
        color: $gama
        margin-top: 30px
        top: 0

.summary
    color: $gama
    font-size: 1.4rem

.about
    > p > img
        width: 180px
        height: 180px
        object-fit: cover
        border-radius: 100%
        border: 3px solid $omega
        box-shadow: 0 0 0 1px $epsilon, 0 8px 30px rgba(0, 0, 0, .25)
        margin: 0 auto
        display: block

    > h1
        text-align: center

    > .title
        font-size: 4rem
        margin: 0 0 13px
        text-align: center

    > .description
        font-size: 1.85rem
        font-weight: $thin-font
        font-style: normal
        color: $gama
        width: 70%
        margin: 0 auto 30px
        text-align: center
    


.lost
    text-align: center
    padding: 60px 0 20px

    > .qubit-mark
        width: 160px
        height: 160px
        margin-bottom: 20px

    > h1
        margin: 0 0 10px

    > p
        color: $gama

